/* Home.css */
.dashboard-container {
    display: flex;
    gap: 20px; /* Adjust the gap between the two dashboards */
  }
  
  .dashboard-column {
    flex: 1;
  }
  
  .centered-list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }