/* Style for the table container */
.table-wrapper {
  margin: 100px auto;
  width: 100%;
  overflow-x: auto;
  position: relative;
}

.header-row {
  background-color: #ccc;
  color: #222;
  font-weight: bold;
  padding: 0.8rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* Style for the table */
.table {
  display: block;
  overflow: hidden;
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  max-width: 80%;
  margin: auto;
  table-layout: auto;
  overflow: auto;
  position: relative;
}

/* Style for table header */
.table thead {
  background-color: #ccc;
  color: #222;
  border-bottom: 2px solid black;
}

.table thead th {
  font-weight: bold;
  text-align: left;
}

.table th,
.table td {
  padding: 0.8rem;
  border: 1px solid black;
}

.table td {
  overflow: hidden;
  text-overflow: ellipsis;
}

.table td:last-child,
.table th:last-child {
  border-right: none;
}

.table tbody tr:hover {
  background-color: #eee;
}

/* Style for clickable rows */
.clickable-row {
  cursor: pointer;
}
.action-icons {
  display: flex;
  gap: 10px; /* Adjust the gap to control spacing between icons */
  justify-content: flex-start; /* Start from the left edge */
  align-items: center; /* Vertically center the icons */
}


.actions svg {
  cursor: pointer;
  margin: 2px; /* Add margin to the icons */
}

/* Adjust the size and spacing of the icons as needed */
.delete-btn,
.edit-btn {
  font-size: 1.2rem;
  cursor: pointer;
  margin: 0 5px; /* Add equal margin for spacing */
}
