.dashboard-container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.dashboard-upper {
  display: flex;
  flex: 1;
  justify-content: center;
  gap: 5px;
  margin: 10px;
}

.dashboard-lower {
  display: flex;
  margin: 10px;
  max-height: 510px;
}

.dashboard-column {
  flex: 1;
  overflow-y: auto;
}

.dashboard-item {
  width: 100%;
}

.dashboard-table {
  overflow-y: auto;
  max-height: 100%;
}