/* dashboard.css */

.dashboard-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take remaining space */
}

.dashboard-upper {
  display: flex;
  flex: 1; /* Take remaining space */
  justify-content: center;
  gap: 5px;
  margin: 10px;
}

.dashboard-lower {
  display: flex;
  margin: 10px;
  max-height: 510px;
}

.dashboard-column {
  flex: 1;
  /* Equal width for both columns */
  overflow-y: auto; /* Add vertical scroll if needed */
}

.dashboard-item {
  width: 100%; /* Adjust as needed */
}

.dashboard-table {
  overflow-y: auto; /* Enable vertical scroll */
  max-height: 100%; /* Adjust as needed */
}

/* Add any additional styling as needed */
