/* Style for the main content container */
.main-content {
    flex-grow: 1;
    /* Allow content to expand and fill remaining space */
    box-sizing: border-box;
}

/* Style for the header */
.header {
    text-align: center;
    background-color: #060b59;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
}

.button {
    width: 150px;
    height: 50px;
    background-color: #1d4ed8;
    color: #fff;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.button:hover {
    background-color: #0056b3;
}

/* Style for the button container */
.add-upload {
    /* Display buttons side by side */
    /* Arrange buttons horizontally */
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
}

/* Style for the search container */
.search-container {
    display: flex;
    width: 100%;
    justify-content: center;
}