.input-wrapper {
  width: 20%; /*Change this to adjust the width of search bar*/
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0px 0px 8px #ddd;
  display: flex;
  align-items: center;
  position: relative; /* Use absolute positioning */
  height: 40px; /* Adjust the height as needed */

}

/* Can also put the searchresultlist.css here and it will work */
/* Remeber to change import correct css file in js if change */

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
  padding: 10px 5px; /* Adjust the padding to match the new height */

}

input:focus {
  outline: none;
}

#search-icon {
  color: royalblue;
}

.patientinfo {
  display: flex;
  flex-direction: column;
}

.search-bar-container {
  position: relative;
  padding: 10px;
}



