table {
    overflow: auto;
}

table thead {
    background-color: #ccc;
    color: #222;
    border-bottom: 2px solid black;
    /* Add a bottom border for header row */

}

table th,
table td {
    padding: 0.8rem;

}

table td {
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}

table td.expand {
    white-space: normal;
    max-width: none;
}

table td.expand {
    padding: 0.8rem;
}

table tbody tr:hover {
    background-color: #eee;

}