/* Custom styling for the calendar */
  .react-calendar__tile--active {
    background: #007bff;
    color: white;
  }
  .appointment-container {
    display: flex;
  }

  .calendar-container {
    /* Define calendar container styles here */
    width: 30%;
    padding: 20px;
  }
  
  .appointment-content {
    /* Define appointment content styles here */
    flex: 1;
  }
  
  .selected-appointment-details {
    /* Define appointment content styles here */
    flex: 1;
  }

/* Style for h1 and h2 within calendar-container */
.calendar-container h1 {
  font-size: 24px;
  margin: 0;
}

.calendar-container h2 {
  font-size: 18px;
  margin-top: 10px;
}
  
/* Center-align button */
.book-button {
    display: block;
    margin-top: 10px; /* Add margin to create space below the button */
  }

