/* ApptTable.css */

/* Style for the table container */
.table-wrapper {
  text-align: left;
  margin: 20px;
}

/* Style for the table container */
.table-container {
  max-height: 400px; /* Set the maximum height for the table container */
  overflow: auto; /* Enable vertical and horizontal scrolling when the content overflows */
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  align-self: start;
}

/* Style for the table */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

/* Style for table header */
.table th {
  background-color: #f2f2f2;
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style for table data cells */
.table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* Style for alternating row colors */
.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Media query for responsive behavior */
@media (max-width: 600px) {
  .table {
    table-layout: auto; /* Allow columns to adjust dynamically */
  }
  
  .table th,
  .table td {
    display: block;
    width: 100%; /* Expand columns to full width */
  }
  
  .table td::before {
    content: attr(data-label); /* Use "data-label" attribute content as label */
    font-weight: bold;
    float: left;
  }
  
  /* Hide table headers in this mode */
  .table th {
    display: none;
  }
}
